<footer class="footer bg-light text-dark" th:fragment="footer">
    <div class="container" id="contact">
        <div class="row">
            <div class="col-md-6 py-3 my-3">
                <h5 class="text-primary font-weight-bold">Contact Support</h5>
                <p>Arbitrage Brokerage Services Ltd</p>
                <p class="text-dark">
                    +256 708531101 <br />
                    +256 781050759
                    <br />info@aabitrage.com
                </p>
            </div>

            <div class="col-md-6 py-3 my-3">
                <h2 class="text-dark">Join our Newsletter</h2>
                <form action="">
                    <input
                            type="text"
                            placeholder="Your email"
                            class="form-control mb-3" />
                    <input type="submit" class="btn btn-danger btn" />
                </form>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <p>
                &copy; 2023 Arbitrage Brokerage Services Ltd. All rights reserved.
            </p>
        </div>
    </div>
</footer>
