          <div class="card-body" th:fragment="mybusinessestable">

            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr class="bg-dark text-light">
                  <th>id</th>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Listed Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </thead>
          <tbody>
   <tr>

                  <td>1</td>
                  <td>Claire's beauty salon</td>
                  <td>USD 23,000</td>
                  <td>2010/07/14</td>
                  <td class="text-success"><a class="btn rounded-0 bg-sold mr=2 " href=""><i class="fas fa-fw fa-check-circle"></i> Sold</a> </td>
                  <td>
                    <a class="btn btn-danger mr=2 mb-2" href="">  <i class="fas fa-fw fa-trash"></i> Delete</a>  <a class="btn  btn-success mr=2 mb-2" th:href="@{businessdetails}">  <i class="fas fa-fw fa-pen"></i> Edit</a>
                  </td>
                </tr>

                </tbody>
              </table>

              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
              <script>
  $(document).ready(function() {
    $('#dataTable').DataTable({
      pageLength: 5,
      lengthMenu: [5, 10],
    });
  });
</script>
            </div>
        </div>