<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layouts/dashboard" >

<body>
<div layout:fragment="content">

      <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 m-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                    class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Beauty
                            </div>

                        </div>
                        <div class="col-auto">
                            <img
                                    th:src="@{images/salon.png}"
                                    alt=""
                                    class="img-fluid p-3 w-50" />
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-9 col-md-6 mb-4">
            <div class="h5 mb-0 font-weight-bold text-gray-800">
                <h3 class="text-danger p-1">Claire's beauty salon  </h3>

                <p class="font-weight-normal h6 text-dark">Location: <span class="text-danger">Kampala </span> ***   <span class="text-info"> USD 12,000</span></p>

            </div>
        </div>
    </div>
</div>
</body>

</html>