<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layouts/dashboard" >

<body>
<div layout:fragment="content">

<h2
  <div>
      <form>
          <p class="my-2">
              <input type="text" name="businessname" placeholder="Business name" class="w-50 form-control border-o border-bottom " />
          </p>
          <p class="my-2">
           <input type="text" name="location"  placeholder="Location"  class="w-50 form-control border-o border-bottom " />
          </p>
      </form>
  </div>

</div>
</body>

</html>