<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layouts/home" >

<body>
<div layout:fragment="content">
    <!-- Hero Section -->
    <header class="loginbg text-white text-center">
        <div class="container">
            <h1 class="display-5 text-light font-weight-bold py-5">
                Our Services
            </h1>
                  </div>
    </header>
     <section class="testimonials" id="services">
        <div class="ourservices">

            <ul class="p-md-3 p-sm-2">
                <div class="row">
                    <div class="col-md-6">
                        <li class="serviceitem">
                            <a href="sell.html" class="activeservice">
                                <i class="fa fa-solid fa-briefcase serviceicon"></i> Buy and
                                sell of businesses</a
                            >
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-plane serviceicon"></i>
                                Brokering Equity and connecting importers and exporters
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-person serviceicon"></i> Manage and
                                sell all talented people
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa-solid fa-house serviceicon"></i> Manage
                                properties all real estate needs
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-guitar serviceicon"></i> Sell/ buy
                                music and connecting you to branded international Artists
                                cheaply
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-heart serviceicon"></i> Connect
                                lovers/ Love connect
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-wallet serviceicon"></i>
                                Business Advisory
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-globe serviceicon"></i> An online
                                Business School
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-calendar serviceicon"></i> Events
                                management brokerage services
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-truck serviceicon"></i> Brokering
                                all supplies of all types
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-pen serviceicon"></i> Both personal
                                and Company branding
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i
                                    class="fa fa-solid fa-hand-holding-dollar serviceicon"></i>
                                Charity works
                            </a>
                        </li>
                    </div>

                    <div class="col-md-6">
                        <li class="serviceitem">
                            <a class="inactiveservice">
                                <i class="fa fa-solid fa-file-contract serviceicon"></i>
                                Contracts management of all kinds
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-users serviceicon"></i>
                                Recruitments of human capital of all kinds
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-sack-dollar serviceicon"></i>
                                Financial brokerages of all kinds
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa-brands fa-facebook serviceicon"></i>
                                Management of social media accounts
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-guitar serviceicon"></i> Supply
                                items of all kinds
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-file-signature serviceicon"></i> All
                                Business negotiations and contract negotiations
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-globe serviceicon"></i>
                                Getting you all the business connections worldwide in 24 hours
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-user serviceicon"></i> Connecting
                                you to High profile people in just 24 hours
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-gift serviceicon"></i> Getting you
                                all supplies at negotiated prices
                            </a>
                        </li>
                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-user-doctor serviceicon"></i>
                                Connecting Patients to international Doctors and hospitals
                            </a>
                        </li>

                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa-solid fa-rectangle-ad serviceicon"></i> Digital
                                Marketing services and all marketing needs
                            </a>
                        </li>

                        <li class="serviceitem">
                            <a class="inactiveservice"
                            ><i class="fa fa-solid fa-plane-up serviceicon"></i> Pretour
                                arrangement and promotional services
                            </a>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </section>

<div th:include="fragments/getstarted::getstarted">
</div>
</div>
</body>
</html>